{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 1, "knowledge_revision": 34, "git_revision": "a6f2215609274f0795fad87f878434f5cc604403", "hash": "7645afa2e98f8caee9712d9d5cddb2d8", "format-version": 4, "code-base-name": "default", "filename": "easy_event_register/requirements.txt", "revision_history": [{"34": "a6f2215609274f0795fad87f878434f5cc604403"}]}